/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


.normal-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    font-style: normal;
}


.italic-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500px;
}


.bold-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
}


.line-height {
    line-height: 2rem;
    background-color: aqua;
    padding: 20px;
}


.letter-spacing {
    letter-spacing: 5px;
    line-height: 1.5rem;
    background-color: beige;
    padding: 20px;
}


.text-align {
    text-align: justify;
    background-color: blueviolet;
    padding: 20px;
    color: aliceblue;
}


.google-font-html {
    font-family: "Yuji Mai", serif;
    line-height: 1.5rem;
    letter-spacing: 3px;
}


.google-font-css {
    line-height: 1.5rem;
    letter-spacing: 3px;
    font-family: "Hachi Maru Pop", cursive;
}