.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inline {
    background-color: aqua;
    border: 3px solid black;
    display: inline;
    padding: 20px;
}


.block {
    display: block;
    background-color: lightgreen ;
    margin-top: 30px;
    padding: 20px;
    border: 3px solid blue;
}


.inline-block {
    background-color: lightcoral;
    display: inline-block;
    margin-top: 30px;
    border: 3px solid darkslateblue;
    padding: 20px;
}

.visible { 
    background-color: lightblue;
    border: 3px solid tomato;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.non-visible {
    background-color: aqua;
    border: 3px solid red;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    display: none;
}

.visible-element {
    background-color: lightpink;
    border: 3px solid blue;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.hidden {
    background-color: cadetblue;
    border: 3px solid lightcoral;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    visibility: hidden;
}